.head {
    position: relative;
    min-height: 165px;
    border-radius: 19px;
    background-size: cover;
}

.card {
    background: var(--white-color);
    border-radius: 19px;
    box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);
    width: 320px;
}

.footer {
    padding: 12px;
}

.title {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.description {
    color: var(--text-secondary-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link {
    text-decoration: none;
}

.price {
    position: absolute;
    top: 15px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 20px;
}

.currency {
    color: var(--primary-color);
    margin-left: 5px;
}

.rating {
    position: absolute;
    bottom: -12px;
    left: 15px;
    background: var(--white-color);
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 12px;
    box-shadow: 18px 18px 36px 0px rgba(211, 209, 216, 0.25);
}

.add-to-cart {
    position: absolute;
    top: 15px;
    right: 15px;
    background: var(--primary-color);
    border-radius: 50%;
    width: 34px;
    height: 34px;
    border: none;
    cursor: pointer;
}

.add-to-cart:hover {
    background: var(--primary-hover-color);
}