.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.text {
  color: var(--text-color);
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 120%;
}